.qr-generator {
  font-size: 1rem;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.qr-generator input {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}

.qr-generator label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 3px;
}

.qr-generator img {
  width: 300px;
  margin: 20px auto 0;
}

.qr-generator .btn {
  padding: 8px 25px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.qr-generator .btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.qr-generator__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
